@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

a {
    text-decoration:none;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article p {
    margin-top: 0;
    margin-bottom: 0.4em;
}


.photographer_section article img {
    object-fit: cover;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photograph-header img {
    object-fit: cover;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}



.tagline-style {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.country-style {
    font-size: 1em;
    color: #901C1C;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
}

.price-style {
    color: #757575;
    font-family: DM Sans;
    font-size: 1em;
}

.photographer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}